services:
  notification-service:
    image: notification-service:local
    build: .
    ports:
      - "8081:8081"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    networks:
      - itw-dev-net

networks:
  itw-dev-net:
    external: true
